<body>
    <main class="container-fluid mx-5 my-5">
        <div class="card rounded-4 border border-0 shadow text-center">
            <img src="assets/images/image-qr-code.png" class="imagen img-fluid rounded-3 mx-3 my-3" alt="qr code">
            <div class="card-body">
                <h5 class="card-title text-center">Improve your front-end skills by building projects
                </h5>
                <p class="card-text text-center text-secondary py-2">Scan the QR code to visit Frontend
                    Mentor and take
                    your
                    coding
                    skills to the next
                    level</p>
            </div>
        </div>
    </main>
</body>